@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: rgb(251, 243, 227);
  padding: 4em;
  margin: 1em;
  border-radius: 1px;
  height: 440px;
  width: 600px;
  clip-path: circle(10% at 90% 13%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.wrapper:hover {
  clip-path: circle(75%);
  background-color: #fff;
  border: 1px solid;
}

h1 {
  color: #000;
  margin: 0;
  padding: 0;
}
p {
  color: #000;
  font-size: 0.8rem;
}

.text-h1 {
  margin-top: 20px;
  text-align: center;
}

.icons {
  text-decoration: none;
  align-items: flex-start;
  color: #000;
  font-size: 22px;
  padding: 15px;
  margin: 10px;
}
